@model HalloDocServices.Admin.DashboardDetails;


    <div class="modal fade" id="cancleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">


            <div class="modal-body">
         

                <div class="modal-content justify-content-center p-0">

                    <div class="justify-content-between d-flex bg-primary">
                        <h4 class="text-white mt-2 ms-4">Confirm Cancellation </h4>
                        <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div><br>
                    <div style="padding:20px">

                
                    
                        <div class="d-inline-flex justify-content">
                            <h5> Patient Name : Anil Chauhan @Model.PatientName</h5>

                        </div>





                    <form method="post" asp-action=" CancelCaseAction" asp-controller="Admin">
                            <select class="form-control">
                                <option class="text-muted">Region For Cancellation</option>
                                <option value="1">No Respone to call or text, left message</option>
                                <option value="2">Cost Issue</option>
                                <option value="3">Insurance Issue</option>
                                <option value="4">Out of Service Area</option>
                                <option value="5">Not appropriate for service</option>
                                <option value="6">Referral to Clinic or Hospital</option>

                            </select><br>
                        <textarea asp-for="AdditionalNote" type="text" id="textarea" class="form-control" placeholder="Provide Additional Notes">
                                            </textarea>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>

                    </div>

                </div>
            
                
            </div>


        </div>
    </div>
    
}


  



