@{
    Layout = "";
}
@{
    ViewData["Title"] = "Patient_register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Submit Request</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Patient_register.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/style.js"></script>
</head>

<body>
    <div class="header d-flex justify-content-between">
        <img class="img-fluid" src="~/images/Fig56. Patient site 1.png" alt="">
        <button onclick="myFunction()" class="button">
            <svg class="moon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
            </svg>
        </button>

    </div>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-7 mx-auto center-content mt-5 d-flex flex-column">
                <p class="fw-bold fs-3 text-center">I am a....</p>
                <button class=" btn alert alert-secondary  my-2" type="button"><a asp-controller="Patient" asp-action="Patient_request" class="text-decoration-none">PATIENT </a> </button>
                <button class=" btn alert alert-info  my-3" type="button"><a asp-controller="Patient" asp-action="Family_request" class="text-decoration-none">FAMILY/FRIEND </a></button>
                <button class=" btn alert alert-success my-3" type="button"> <a asp-controller="Patient" asp-action="Conceirge_request" class="text-decoration-none">CONCIERGE</a> </button>
                <button class=" btn alert alert-danger my-3" type="button"><a asp-controller="Home" asp-action="Business_request" class="text-decoration-none">BUSIENESS PARTNERS</a> </button>
            </div>
            <div class="col ">
                <button type="button" class="btn btn-light mt-5 mx-5 text-primary"><a asp-controller="Home" asp-action="Index" class="text-decoration-none">&lt;Back</a></button>

            </div>
        </div>
    </div>

    <div class="footer">
        <p class="text-white mx-5">Terms of conditions || privacy policy</p>
    </div>


</body>

</html>
