


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ReviewAgreeemnt.css">
    <title>Agreement</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="mt-5 agreement-text col-8 background">
                <p>
                    To provide best medical service ,we cannot determine the cost right away. if you agree to our
                    service,so we will provide care and follow-up until all care is completed. So with this points,
                    if you like us to provide care to provide care to you click on "Agree" and we'll get started
                    immediately, if do not agree simply click "Cancle".
                </p>
                <div class="button">
                    <button type="button" class="btn btn-success agree">I Agree</button>
                    <button type="button" class="btn btn-danger cancle">Cancle </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>

